language: cpp

compiler:
    - clang
    - gcc

before_install:
    - sudo add-apt-repository -y ppa:kalakris/cmake
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo add-apt-repository -y ppa:ubuntu-sdk-team/ppa
    - if [ "$CXX" == "clang++" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm; fi
    - sudo apt-get -qq update
    - sudo apt-get -qq install build-essential libtool gcc-4.8 g++-4.8 make cmake
    - sudo apt-get install -qq qt5-qmake qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev
    - if [ "$CXX" == "clang++" ]; then sudo apt-get install --allow-unauthenticated -qq clang-3.4; fi

install:
    - mkdir build
    - cd build
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8"; fi
    - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.4"; fi
    - cmake ../

script:
    - qmake -qt=qt5 -v
    - $CXX --version
    - make -j4